.content {
  min-width: 180px;
  width: 100vw;
  min-height: 100px;
  z-index: 1;
  box-sizing: border-box;
  background: var(--color-background);
  border-radius: 8px;
  padding: 6px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
