@mixin data-gradient {
  color: var(--color-background);
  box-shadow: 0 4px 12px var(--color-shadow);
  font-weight: bold;

  &[data-gradient="blueRadial"] {
    background: linear-gradient(135deg, var(--color-primary-light), var(--color-primary));
  }

  &[data-gradient="redRadial"] {
   background: linear-gradient(135deg, var(--color-wrong), var(--color-wrong-dark));
  }
}

@mixin data-appearance {
  color: var(--color-primary);

  &[data-appearance="text"] {
    background: none;
    border: none;
  }

  &[data-appearance="outlined"] {
    background: var(--color-background);
    border: 1px solid var(--color-primary-light);
  }
}