// Colors
$color-primary: #00a9e0;
$color-primary-hover: #008fcf;
$color-text-secondary: #666666;
$color-border: #cccccc;
$color-background: var(--color-background);;
$color-error: #ef4444;

// Fonts size
$font-size-sm: 14px;
$font-size-md: 16px;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;

// Raduis
$radius-md: 8px;
