.root {
  padding: var(--spacing-md) var(--spacing-xl);
  font-size: var(--font-size-sm);
  border: none;
  width: 100%;
  border-radius: var(--radius-md);
  cursor: pointer;
  transition: all 0.2s ease;

  &.primary {
    background: linear-gradient(135deg, var(--color-primary-light), var(--color-primary));
    color: var(--color-background);
    box-shadow: 0 4px 12px var(--color-shadow);
    font-weight: bold;
  }

  &.secondary {
    border: 1px solid var(--color-primary-light);
    background: var(--color-background);
    color: var(--color-primary);
  }

  &:hover {
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 4px 12px var(--color-shadow);
  }

  &:active {
    transform: translateY(0) scale(0.98);
    box-shadow: 0 2px 6px var(--color-shadow);
  }
}