@use "../_field.scss" as *;

.root {
  @extend .field;

  &.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    white-space: nowrap;
  }
}
