@use "../_field.scss" as *;
@use "../_variables.scss" as vars;

.root {
  @extend .field;

  & > textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    field-sizing: content;
    overflow: hidden;
  }

  &.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    white-space: nowrap;
  }

  .counter {
    margin-top: vars.$spacing-xs;
    font-size: vars.$font-size-sm;
    color: vars.$color-text-secondary;
    align-self: flex-end;
  }
}
