@use '../../../styles/breakpoints' as *;

.modal {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: var(--spacing-xl);
  background: var(--color-background);
  border-radius: var(--radius-lg);
  position: fixed;
  height: max-content;
  width: 100%;
  overflow: visible;
}

.overlay {
  background-color: var(--color-text-primary);
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  opacity: 0;
  animation: overlayShow 400ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.close {
  position: absolute;
  top: 0;
  right: var(--spacing-lg);
  height: 40px;
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  font-size: var(--font-size-md);
  color: var(--color-primary);
  border: none;
  outline: none;
  padding: 0;
  margin-top: var(--spacing-sm);
  background: transparent;

  &:after {
    content: 'Закрыть';
  }

  &>svg {
    display: none;
  }

  &:hover,
  &:active {
    color: var(--color-primary-dark)
  }
}

.description {
  color: var(--color-text-secondary);
  margin-bottom: var(--spacing-xl);
}

@include respond(md) {
  .modal {
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    max-width: 640px;
    padding:  var(--spacing-xxl);
  }

  .close {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    right: -50px;
    background-color: var(--color-background);
    border-radius: 50%;
    color: transparent;
    font-size: 0;
    margin-top: 0;

    &>svg {
      display: block;
      width: 30px;
      height: 30px;
      color: var(--color-text-primary)
    }

    &::after {
      display: none;
    }
  }
}

@keyframes overlayShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.3;
  }
}