@mixin data-size {
  &[data-size='xs'] {
    font-size: var(--font-size-sm);
    height: 28px;
    line-height: 16px;
  }

  &[data-size='sm'] {
    font-size: var(--font-size-sm);
    height: 32px;
    line-height: 18px;
  }

  &[data-size='md'] {
    font-size: var(--font-size-md);
    height: 36px;
    line-height: 18px;
  }

  &[data-size='lg'] {
    height: 42px;
    font-size: var(--font-size-lg);
    line-height: 21px;
  }
}