@mixin data-size {
  &[data-size='S'] {
    font-size: var(--font-size-sm);
    height: 32px;
    line-height: 18px;
  }

  &[data-size='M'] {
    font-size: var(--font-size-md);
    height: 36px;
    line-height: 18px;
  }
}